{% extends 'base.html.twig' %}


{% block body %}


    <div class="content">

        <div class="info">
            <div class="from">
                <span class="from-amount">0</span> 
                <span class="from-currency-name">Thai Baht</span> 
                equals
            </div>

            <div class="to">
                <span class="to-amount">0</span> 
                <span class="to-currency-name">US Dollar</span> 
                equals
            </div>
        </div>


        <table class="">
            <tbody>
                <tr>
                    <td>
                        <input name="from_amount" class="amount_value" value="0" type="number">
                    </td>
                    <td class="pad"></td>
                    <td>
                        <div class="select_wrapper">
                            <select class="select_currency" name="from_currency">
                                <option value="USD">US Dollar</option>
                                <option value="EUR">Euro</option>
                                <option value="AUD">Australian Dollar</option>
                                <option value="BTC">Bitcoin</option>
                                <option value="THB" selected>Thai Baht </option>
                            </select>
                            <div class="space"></div>
                            <div class="arrow"></div>
                                
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="to_amount" class="amount_value" value="0" type="number">
                    </td>
                    <td class="pad"></td>
                    <td>
                        <div class="select_wrapper">
                            <select class="select_currency" name="to_currency">
                                <option value="USD" selected>US Dollar</option>
                                <option value="EUR">Euro</option>
                                <option value="AUD">Australian Dollar</option>
                                <option value="BTC">Bitcoin</option>
                                <option value="THB">Thai Baht </option>
                            </select>
                            <div class="space"></div>
                            <div class="arrow"></div>
                                
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}



{% block javascripts %}
    <script>
    $(document).ready(function(){
    
        $('input[name="from_amount"], select[name="from_currency"]').change(function(){
            var quantity = $('input[name="from_amount"]').val();
            var from = $('select[name="from_currency"]').val();
            var to = $('select[name="to_currency"]').val();
            convert(quantity, from, to, 'to');
        });
        
        
        $('input[name="to_amount"], select[name="to_currency"]').change(function(){
            var quantity = $('input[name="to_amount"]').val();
            var from = $('select[name="to_currency"]').val();
            var to = $('select[name="from_currency"]').val();
            convert(quantity, from, to, 'from');
        });
    
    });
    
    function convert(quantity, from, to, event) {
        
        var url = '{{url('api')}}';
        var data = {
            quantity: quantity,
            from: from,
            to: to,
        };
        
        console.log(data);
        
        $.post(url, data, function(response) {
            
            if (typeof response.data == "undefined") {
                return;
            }
            
            
            if (event == "to") {
                $('input[name="to_amount"]').val(response.data.value);
            } else {
                $('input[name="from_amount"]').val(response.data.value);
            }
            
            $('.from-amount').text($('input[name="from_amount"]').val());
            $('.to-amount').text($('input[name="to_amount"]').val());
            
            
            $('.from-currency-name').text($('select[name="from_currency"] option:selected').text());
            $('.to-currency-name').text($('select[name="to_currency"] option:selected').text());
            
            
        });
        
    
    }
    
    </script>
    
{% endblock %}
